.hello {
  color: red;
}

.body {
  margin-top: 30px;
  background-image: url('../assets/home.png');
}

#root {
  display: flex;
  justify-content: space-around;
}

.ancients-container {
  border: 2px solid red;
  display: grid;
  grid-template-rows: 45% 45%;
  grid-template-columns: 45% 45%;
  grid-gap: 10%;
}

.ancient-card {
  border: 2px solid darkmagenta;
  height: 260px;
  width: 200px;
  background-size: contain;
  /* width: 45%;
  height: 45%;*/
}

.ancient-card:hover {
  cursor: pointer;
}

.dificulty {
  color: aqua;
  border-radius: 5%;
  border: 2px solid green;
  border-color: blue;
  font-size: 36px;
  height: 40px;
  padding: 5px;
  margin: 5px;
}

.dificulty:hover {
  cursor: pointer;
}

#azathoth {
  background-image: url('../assets/Ancients/Azathoth.png');
}

#cthulhu {
  background-image: url('../assets/Ancients/Cthulthu.png');
}

#iogSothoth {
  background-image: url('../assets/Ancients/iogSothoth.png');
}

#shubNiggurath {
  background-image: url('../assets/Ancients/ShubNiggurath.png');
}

.cur-ancient {
  border-radius: 5%;
  border: 2px solid green;
  border-color: blue;
  font-size: 36pt;
  background-color: chartreuse;
  margin-bottom: 15px;
  text-align: center;
}

.dots-container {
  align-items: center;
  display: flex;
  gap: 20px;
  justify-content: center;
}

.dot {
  align-items: center;
  border-radius: 50%;
  display: flex;
  height: 30px;
  justify-content: center;
  width: 30px;
  color: white;
}

.dot.green {
  background-color: green;
}

.dot.brown {
  background-color: brown;
}

.dot.blue {
  background-color: blue;
}

.difficulty-container {
  width: 30%;
  min-width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  visibility: hidden;
}

.shuffle {
  margin-top: 30px;
  align-self: center;
  visibility: hidden;

}

.deck, .last-card {
  margin-top: 20px;
  background-size: contain;
  height: 190px;
  width: 130px;
}

.deck:hover {
  cursor: pointer;
}

.settings {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.deck-container {
  visibility: hidden;
}

.active {
  background-color: chartreuse;
}